$primary: #202020;
$secondary: #121212;
$header: #0D0D0D;
$white: #fff;
$black: #000;
$red: #ED3024;
$blue: #2A5FE7;
$background: #181818;

$z-index-sidebar: 100;
$z-index-header: 100;
$z-index-modal: 101;

$sidebar-width: 300px;

$tablet-bp: 991px;
$phone-bp:575px;