.cabinet{
    display: flex;
    justify-content: space-between;
}
.cabinet_form{
//    width: 34rem;
    margin-bottom: 2.5rem;
}
.cabinet_avatar{
    flex-grow: 1;
    padding-left: 11rem;
    img{
        margin-bottom: 1.5rem;
    }
}
.cabinet_file{
    padding-left: .25rem;
    display: block;
    color: $blue;
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
    input{
        display: none;
    }
}