<div class="modal">
    <div class="modal_content">
        <form class="form">


                <button class="modal_close">
                    <img src="assets/images/cancel.svg" alt="Закрыть">
                </button>
                <div class="form_group">
                    <input type="text" class="form_control" placeholder="Ваше имя">
                    <span class="form_line"></span>
                </div>
                <div class="form_group">
                    <input type="email" class="form_control" placeholder="Ваш email">
                    <span class="form_line"></span>
                </div>
                <div class="form_group">
                    <textarea class="form_control form_control--textarea" placeholder="Текст сообщения"></textarea>
                    <span class="form_line"></span>
                </div>
                <div class="form_footer">
                    <div class="form_group">
                        <button class="btn btn--blue btn--rounded btn--sm" type="submit">Сохранить</button>
                    </div>
                </div>

            <ul class="modal_footer">
               <li>e-mail: <a href="mailto:info@mywebsite.ru">info@mywebsite.ru</a> </li>
               <li>тел: <a href="+94323285622">+943-232-856-22</a></li>
            </ul>
        </form>
    </div>
    <!--/.modal_content -->
</div>
<!--/.modal -->