<div class="modal">
    <div class="modal_content modal_content--social">
        <form class="form">
          <ul class="social">
                <li class="social_item"><a href="#" class="social_link" target="_blank"><img src="assets/images/facebook (3) 1.svg" alt="Фейсбук"></a></li>
                <li class="social_item"><a href="#" class="social_link" target="_blank"><img src="assets/images/twitter (1) 1.svg" alt="Твиттер"></a></li>
                <li class="social_item"><a href="#" class="social_link" target="_blank"><img src="assets/images/vk 2.svg" alt="ВК"></a></li>
                <li class="social_item"><a href="#" class="social_link" target="_blank"><img src="assets/images/copy 1.svg" alt="Копировать"></a></li>
            </ul>
        </form>
    </div>
    <!--/.modal_content -->
</div>
<!--/.modal -->